@import url("https://fonts.cdnfonts.com/css/netflix-font");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #232323;
  color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* COMPLETE BOX-1 */

.box-1 {
  width: 100%;
  text-align: center;
  height: 98.1vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/IN-en-20230731-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 17px 174px 0 174px;
}

.logo {
  height: 40px;
}

.lang{
  display: flex;
  flex-direction: row;
  height: 30px;
  border-radius: 5px;
  border: solid 1.5px #5e5e60;
  cursor:default;
  margin-top: 5px;
  align-items: center;
  justify-content: space-around;
  width: 110px;
  padding-right: 10px;
  background-color: rgba(0, 0, 0, 0.345);
}
.world{
  height: 20px;
}
.down{
  height: 4px;
}
.sgn-in {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  height: 32px;
  width: 77px;
  border: transparent;
  border-radius: 5px;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin: 4px 0px 0px;
}

.sgn-in:hover{
  background: #c11119;
}

.inside{
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.main {
  font-size: 48px;
  font-weight: 900;
  margin-top: 215px;
  text-align: center;
  letter-spacing: -1px;
}
.next {
  font-size: 25px;
  font-weight: 400;
  text-align: center;
  margin-top: 13px;
}
.next2 {
  margin-top: 23px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}

.inside2 {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input-box {
  width: 25%;
  padding: 20px 0 10px 15px;
  border: 1.5px solid #5e5e60;
  border-radius: 5px;
  outline-offset: 2px;
  transition: all 0.3s ease;
  background: rgba(0, 0, 0, 0.345);
  color: #fff;
  font-size: 20px;
}

.floating-label {
  position: absolute;
  left: 470px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: #bcbdbd;
}

.input-box:focus + .floating-label,
.input-box:not(:placeholder-shown) + .floating-label {
  top: 23px;
  font-size: 12px;
  transform: translateY(-100%);
}

.finish{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  height: 55px;
  width: 13%;
  border: transparent;
  border-radius: 5px;
  background: #e50914;
  color: #fff;
  font-weight: 500;
  font-size: 25px;
}

.finish:hover{
  background: #c11119;
}

/* COMPLETE BOX-2 */

.box-2 {
  background-color: black;
  height: 81vh;
}
.left-2{
  font-size: 25px;
}
.inner-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0 0px 0 170px;
}
.tv{
  transform: scale(0.8);
}

/* COMPLETE BOX-3 */

.box-3 {
  background-color: black;
  height: 81vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.left-3{
  display: flex;
  margin-left: 10%;
}
.tvs{
  transform: scale(0.8);
}
.right-3{
  font-size: 25px;
  padding-right:130px;
}

/* COMPLETE BOX-4 */

.box-4 {
  background-color: black;
  height: 81vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.left-4{
  font-size: 25px;
  margin-left: 10%;
}
.right-4{
  margin-right: 5%;
}
.sar{
  transform: scale(0.8);
}

.box-5 {
  background-color: black;
  height: 81vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right-5{
  font-size: 25px;
  width: 40%;
}

.box-6 {
  background-color: black;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner{
  margin: 4% 0 4% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.big{
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.box{
  cursor: pointer;
  background: #2d2d2d;
  width: 172%;
  display: flex;
  align-items: center;
  padding: 0 20px 0 20px;
  justify-content: space-between;
  height: 90px;
  font-size: 25px;
}

.box:hover{
  background: #414141;
}
.add{
  font-size: 60px;
  font-weight: 100;
}
.ready{
  margin-top: 30px;
  font-size: 21px;
}


.inp{
  width: 25vw;
  background: #0f0f0f;
}

.label{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  transition: all 0.3s ease;
  color: #bcbdbd;
  width: 100%;
}

.fin{
  height: 55px;
  width: 32%;
}
.box-7 {
  background-color: black;
  height: 43vh;
  padding: 5% 12%;
  color: #b3b3b3;
}
.algn{
  text-align: left;
  padding-bottom: 3%;
  font-weight: 600;
}
.link-box{
  display: flex;
  gap: 22%;
  margin-bottom: 2%;
}

.links{
  cursor: pointer;
  color: #b3b3b3;
  margin-bottom: 15px;
  text-decoration: underline;
  font-size: 15px;
}
.bx{
  display: flex;
  flex-direction: column;
}
.net{
  margin-top: 2%;
}